<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mentra</title>
</head>
<body>
    <div class="banner">
        <h1>Mentra</h1>
        <div class="banner-buttons">
            <button><a href="/student">Home</a></button>
        </div>
    </div>
</body>
</html>