<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mentra</title>
</head>
<body>
    <div class="banner">
        <h1><a id="whiteHeaderHyperlink" href="/teacher">Mentra</a></h1>
        <div class="banner-buttons">
            <button><a href="/dashboard">Dashboard</a></button>
            <button><a href="/form">Form</a></button>
        </div>
    </div>
    
    <div class="grid-container">
        <div class="container">
            <h1><a id="whiteHeaderHyperlink" href="/dashboard">Dashboard</a></h1>
            <p>Track all of your students' progress in one.</p>
        </div>
        <div class="container">
            <h1><a id="whiteHeaderHyperlink" href="/form">Form</a></h1>
            <p>Record and score long answers to subjective questions.</p>
        </div>
    </div>
</body>
</html>